.logo__image {
    width: 25%;
}

.jumbotron.text-center {
    padding-bottom: 0;
    background-color: white;
    margin: 2em 0 1em;
}

#recherche {
    background: #e7e7e7;
    border: none;
    padding: 1rem;
}

#inputGroup-sizing-lg {
    height: 100%;
    border: none;
    background: #e7e7e7;
}

.card {
    height: 364px;
}

.card-img-top {
    height: 178px;
    background-color: #c7bebe;
    color: #c7bebe;
    height: 50%;
}

.card-body {
    background-color: #e7e7e7;
    height: 50%;
}

.card-text {
    font-size: 12px;
}

.recipesList {
    margin-top: 1em;
}

ul.liste {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.card-body__content {
    font-size: 12px;
    height: 68%;
}

.card-body__times {
    font-weight: bold;
    font-size: 18px;
}

.card-title {
    font-size: 18px;
}

.card-body__description {
    width: 44%;
    overflow: hidden;
    height: 100%;
}

li {
    display: flex;
}

li p {
    margin: 0;
}

li span {
    font-weight: bold;
    margin-right: 5px;
}

.advancedSearch {
    margin: 2.5rem;
}

.fa-angle-down {
    color: white;
}

#inputIngredients {
    font-size: 18px;
    color: white;
    background: #3282f7;
    border: none;
}

#inputIngredients::placeholder,
#inputAppliances::placeholder,
#inputTools::placeholder {
    color: white;
    font-size: 18px;
}

#inputIngredients-icon {
    color: white;
    border: none;
    background: #3282f7;
}

#inputAppliances {
    font-size: 18px;
    color: white;
    background: #68d9a4;
    border: none;
}

#inputAppliances-icon {
    color: white;
    border: none;
    background: #68d9a4;
}

#inputTools {
    font-size: 18px;
    color: white;
    background: #ed6454;
    border: none;
}

#inputTools-icon {
    color: white;
    border: none;
    background: #ed6454;
}

.input-group-adancedSearch {
    height: 62px;
    margin: 0;
}

.chevronIngredients-rotate,
.chevronAppliances-rotate,
.chevronTools-rotate {
    transform: rotate(180deg);
    /* transition: all 0.3s ease-in-out; */
}
.off {
    display: none;
}

#listIngredients {
    background-color: #3282f7;
    color: white;
    margin-top: -1em;
    padding: 1em 0;
}

#listAppliances {
    background-color: #68d9a4;
    color: white;
    margin-top: -1em;
    padding: 1em 0;
}

#listTools {
    background-color: #ed6454;
    color: white;
    margin-top: -1em;
    padding: 1em 0;
}

#listIngredients__ul {
    max-height: 400px;
    overflow: auto;
}
